*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color:#fff;
    font-family: 'Amatic SC', 'Lato', 'Noto Serif KR', sans-serif; 
    font-weight: 400, 700;
    font-size: 40px;
    text-rendering: optimizeLegibility;
}

html, body {
    height: 100%;
}

.row {
    max-width: 1140px;
    margin: 0 15px;
}

header.index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0)), url(img/BuffaloScouting.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
 
}

/*issues with the header alignment h1 and .main-nav*/
h1 { 
    margin-left: 6%;
    color: #fff;
    margin-top: 4%;
    float: left
}

.other {
    margin-left: 6%;
    color: #000;
    margin-top: 4%;
    float: left
}

/*issues with the header alignment h1 and .main-nav*/
.main-nav {
    font-size: 150%;
    font-weight: bold;
    float: right;
    list-style: none;
    margin-top: 5%;
    margin-left: 5%;
}

.main-nav-other {
    font-size: 150%;
    font-weight: bold;
    float:right;
    list-style: none;
    margin-top: 5%;
    margin-left: 5%;
  
}


.main-nav li {
    display: inline-block;
    margin-left: 50px;
    font-size: 70%;
    letter-spacing: 2px;
    font-weight: bold;
}


.main-nav-other li {
    display: inline-block;
    margin-left: 50px;
    font-size: 70%;
    letter-spacing: 2px;
    font-weight: bold;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
}

.main-nav-other li a:link,
.main-nav-other li a:visited {
    text-decoration: none;
    border: 0;
    color: #000;
    transition: color 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active { 
    color: #bf62bf;
}

.main-nav-other li a:hover,
.main-nav-other li a:active { 
    color: #bf62bf;
}

.row {
    max-width: 1140px;
    margin: 0 auto;    
}

section {
    padding: 20px 0;
}


h2 {
    padding: 7%;
    color: #000;
    font-size: 60%;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.section-form h2 {
    font-size: 150%;

}


/* white text */

h3 {
    color: #fff;
    font-size: 75%;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
    padding: 10%;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;

}

/* Buttons */

a {
    color: #fff;
    font-size: 70%;
    font-weight:bold;
    letter-spacing: 1px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 12px 17px;
    text-decoration: none;
    background-color: rgba(242, 202, 69, 0.60);
    border-radius: 200px;
    position: relative;
    top: -20%;
    left: 40%;
    display: table;
    transition: background-color 0.2s;
}
    
.btn:hover,
.btn:active {
    background-color: #d3a60f
}



/* Sections */

.section-smallpix {
    padding: 0;
    
}

.smallpix {
    list-style: none;
    width: 100%;
    
}

.smallpix li {
    display: block;
    float:left;
    width: 31%;
}

.squarepix {
    margin-top: 0;
    margin-bottom: 30%;
    width: 100%;
    padding: 5%;
}

.squarepix img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    transition: transform 0.7s, opacity 0.7s;
}


.squarepix img:hover {
    transform: scale(1.05);
    opacity: 1;
}


.wideview {
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#maine-sunrise {    
    background-image: url('../img/MaineMtnOverlook.jpg');
    margin-top: 5%;
}

#cheeto-dust {
    background-image: url('../img/cheetodustArches.jpg');
}

#longview-antelope-is{
    background-image: url('../img/longviewAntelopeIs.jpg');

}

#sunset-look {
    background-image: url('../img/sunsetlookingout.jpg');

}

/*-------------------------------------------------*/
/* FORM*/
/*-------------------------------------------------*/
.form-row {
    
    
}
.contact-form {
    width: 70%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/*-------------------------------------------------*/
/*FOOTER*/
/*-------------------------------------------------*/


footer {
    background-color: #fff;
    padding: 20px;
    font-size: 80%;
}

.social-links {
   text-align: center;
}

footer p {
    color:#6f6f6f;
    text-align: center;
    margin-top: 20px;
    font-size: 70%;
    letter-spacing: 2px;
}

 
.social-links li {
    color:#000;
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin: 0 5%;
    
}

