*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color:#fff;
    font-family: 'Amatic SC', 'Lato', 'Noto Serif KR', sans-serif; 
    font-weight: 400, 700;
    font-size: 40px;
    text-rendering: optimizeLegibility;
}


.row {
    max-width: 1140px;
    margin: 0 15px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0)), url(img/BuffaloScouting.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
}


h1 {
    margin: 0 40px;
    color: #fff;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 4%;
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
    font-size: 70%;
    letter-spacing: 2px;
    font-weight: bold;
}


.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active { 
    color: #de15cf;
}

/*
.front-page {
    position: absolute;
    width: 1140px;
    top: 3%;
    left: 5%;
}
*/
